
*.cache
*.dll
*.pdb
debug
fastJSONcore/obj/project.assets.json
fastJSONcore/obj/fastJSON.csproj.nuget.g.props
fastJSONcore/obj/fastJSON.csproj.nuget.dgspec.json
fastJSONcore/obj/Debug/net5.0/fastJSON.csproj.FileListAbsolute.txt
